.user-header {
    background-color: #ee6e73;;
    padding: 20px 20px 20px 66px;
    height: 100px;
}

.user-icon {
    color: #fff;
    font-size: 50px;
}

.user-title {
    color: #fff;
    position: relative;
    bottom: 62px;
    left: 66px;
}
