<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="user-header">
                <i class="material-icons prefix user-icon">home</i>
                <h4 class="user-title">Property Management System</h4>
            </div>
            <div class="card grey lighten-2">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width tabs-transparent">
                        <li class="tab">
                            <a routerLink='/login' routerLinkActive='active'>Sign In</a>
                        </li>
                        <li class="tab">
                            <a  routerLink='/signup' routerLinkActive='active'>Sign Up</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content white">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
