<form #loginForm="ngForm" class="col s12 white" (submit)="onSubmit(loginForm)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
    </div>
</form>