a  {
    border-radius: 10px;
}

.home-icon {
    font-size: 40px;
}

.btn-interest {
    background-color: #a3a6b1;
    color: #fff;
}

.btn-search {
    background-color: #a3a6b1;
    border: 4px solid #fff;
    border-radius: 10px;
    margin-right: 10px;
    width: 27%;
}

.outer-container {
    min-height: 100vh;
    padding: 30px;
    margin-top: 43px;
  }

.inner-container {
    background: white;
    padding: 15px;
    border-radius: 3px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.property-card {
    margin-right: 20px;
    height: 350px;
    width: 300px;
}
