<nav>
    <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons home-icon">home</i>Property Management System</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-large" href="https://bitbucket.org/JasonK98/" target="_blank">BitBucket <i class="material-icons right">delete</i></a></li>
            <li><a class="waves-effect waves-light btn-large" (click)="onLogout()">Log Out <i class="material-icons right">highlight_off</i></a></li>
        </ul>
    </div>
    <div class="nav-wrapper" style="background-color: #fff">
        <ul class="left hide-on-med-down">
            <li><a class="waves-effect waves-light btn btn-interest">Interested <i class="material-icons right">tag_faces</i></a></li>
        </ul>
        <form class="right btn-search" >
            <div class="input-field">
                <input id="search" type="search" placeholder="Search Properties" required>
                <label class="label-icon" for="search"><i class="material-icons" style="line-height: 1.5;">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<div class="outer-container">
    <div class="cards">
        <div class="inner-container" *ngFor="let property of properties">
                <div class="card property-card">
                    <div class="card-image waves-effect waves-block waves-light" style="padding: 5px;">
                        <img [src]="property.image">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ property.name }}<i class="material-icons right">more_vert</i></span>
                        <p><a>Click to see more details.</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ property.name }}<i class="material-icons right">close</i></span>
                        <p>Location: {{ property.location }}</p>
                        <p>Price:    {{ property.price }}</p>
                    </div>
                </div>
            </div>
    </div>
</div>
